section.sharedpaygateway{
    width: 92%;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; 
}

section.sharedpaygateway>article.description{
    width: 100%;
    flex: 6;
    padding: 50px 30px;
    line-height: 40px;
}

section.sharedpaygateway>article.description>h3{
    font-size: 22px;
    color: #747480d4;
    margin-bottom: 8px;
}

section.sharedpaygateway>article.description>h2{
    font-family: iry-h;
    font-size: 32px;
    color: #303030;
    margin-bottom: 12px;
}

section.sharedpaygateway>article.description>div.create{
    width: 100%;
    margin-top: 60px;
    padding-top: 25px;
    border-top: 1px solid rgb(231, 226, 226);
}

section.sharedpaygateway>article.description>div.create>a{
    padding: 6px 16px;
    margin-left: 18px;
    border-radius: 12px;
}

section.sharedpaygateway>article.description>div.create>a:nth-of-type(1){
    color: #0c0b00;
    background-color: #ffdc08;
}

section.sharedpaygateway>article.description>div.create>a:nth-of-type(2){
    width: auto;
    height: 36px;
    color: #28457b;
    background-color: #f1f5fe;
    display: inline-block;
    line-height: 25px;
    margin-top: 8px;
}