section.contact{
    width: 92%;
    height: 80px;
    background-color: #fbf6f1;
    border-radius: 50px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 20px;
}

section.contact>section.info>article>span{
    margin: 0 6px;
    flex: 10;
    font-family: iry-h;
    font-size: 20px;
    color: #303030;
}

section.contact>section.info>article>span>span.number{
    color: #21457f;
    font-family: iry-h;
    font-size: 24px;
}

section.contact>section.support>span>a{
    font-size: 22px;
    flex: 2;
    margin-left: 40px;
    color: #21457f;
}