.navbar{
    width: 956px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar>figure.logo{
    flex: 4;
    margin-right: 25px;
}

.navbar>nav{
    flex: 8;
}

.navbar>nav>ul{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.navbar>nav>ul>li>a{
    font-size: 0.9em;
    color: #303030;
}

.navbar>nav>ul>li:nth-child(6)>a{
    border-radius: 21px;
    padding: 10px 18px;
    background-color: #f1f5fe;
    color: #29416d;
}

.navbar>nav>ul>li:nth-child(6)>a:hover{
    background-color:rgba(228,197,0,.15);
}

.navbar>nav>ul svg{
    margin-right: 6px;
    fill: #303030;
    height: 12px;
    vertical-align: middle;
}


/* first submenu */
.navbar>nav>ul .first-submenu{
    width: 75%;
    height: 292px;
    background-color: white;
    display: none;
    z-index: 200;
    position: absolute;
    left: 50%;
    top: 25px;
    border-top: 6px solid #f5e482;
    border-radius: 12px;
    overflow: hidden;
}

.navbar>nav>ul .first-submenu>.right-col{
    flex: 1;
}

.navbar>nav>ul .first-submenu>.left-col{
    flex: 1;
}

.navbar>nav>ul .first-submenu ul>li{
    padding: 20px 8px 0 0;
    border-radius: 18px;
    transition: 180ms;
}

.navbar>nav>ul .first-submenu ul>li>a{
    color: #303030;
}

.navbar>nav>ul .first-submenu ul>li>a>p:nth-of-type(2){
    font-size: 12px;
}

.navbar>nav>ul .first-submenu ul>li:hover{
    background-color: #f5f8fe;
}

.navbar>nav>ul>li:hover .first-submenu{
    display: flex;
}


/* second submenu */
.navbar>nav>ul .second-submenu{
    width: 20%;
    height: 240px;
    background-color: white;
    display: none;
    z-index: 200;
    position: absolute;
    left: 20%;
    top: 25px;
    border-top: 6px solid #f5e482;
    border-radius: 12px;
    overflow: hidden;
}

.navbar>nav>ul .second-submenu ul>li{
    padding: 12px;
    border-radius: 18px;
    transition: 180ms;
}

.navbar>nav>ul .second-submenu ul>li>a{
    color: #303030;
    font-size: 14px;
}

.navbar>nav>ul .second-submenu ul>li:hover{
    background-color: #f5f8fe;
}

.navbar>nav>ul>li:hover .second-submenu{
    display: inline-block;
}

section.hamburger-menu{
    display: none;
}